.feriePermisse {
  .FactureSection {
    padding: 0;
  }
  .invoiceFilter {
    margin: 16px 0 8px;
    padding: 28px 37px 28px 27px;
    .MuiStack-root {
      grid-template-columns: 144px 144px 1.3fr 1.3fr 1fr 2fr 24px;
    }
  }
}
