.PrimanotaTopCards {
    .FactureSection__inner {
        display: grid;
        grid-template-columns: repeat(4, 210px) repeat(2, 230px) 1fr;
       gap: 14px;
       @media only screen and (max-width: 1880px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
       }
        &__card {
            @media only screen and (max-width: 1880px) {
                width: 25%;
                padding: 8px;
                &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                  width: 33.3%;
                }
               }
           
            .statusText{
                &__content{
                    .countWord {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 700;
                        color: #57C700;
                        margin-bottom: 8px;
                    }
                    .movimentiBlock {
                        display: flex;
                        gap: 6px;
                        h6,p{
                            margin: 0px;
                        }
                        h6{
                            font-size: 16px;
                            line-height: 18.8px;
                            font-weight: 700;
                            color: #100919;
                        }
                        p{
                            font-size: 16px;
                            line-height: 18.8px;
                            font-weight: 400;
                            color: #666666;
                        }
                    }
                }
               }
        }
       
    }
}
.Prima_notaPage {
    .invoiceFilter {
        .MuiStack-root {
            grid-template-columns: 144px 144px 106px 124px 0.5fr 0.7fr 120px 120px 0.9fr 1fr 50px;
            @media only screen and (max-width: 1750px) {
                grid-template-columns: repeat(6, 1fr);
                height: auto;
                .customDatePicker  {
                    max-width: 100%;
                }
            }
            .MuiFormControl-root {
                min-width: 100px;
            }
        }
    }
}