.sediContent {
  margin-top: 25px;
  &__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    font-weight: 700;
  }
  .business-type-form {
    max-width: 600px;
    margin: 0 auto;

    .MuiTextField-root {
      margin-bottom: 1rem;

      label {
        font-size: 0.875rem;
        color: #9e9e9e;
      }

      .MuiInputBase-root {
        border-radius: 4px;
        font-size: 1rem;
        color: #212121;

        &.Mui-focused {
          border-color: #1976d2;
        }
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }

    .add-button {
      margin-top: 1rem;
      width: 100%;

      .MuiButton-root {
        background-color: #1976d2;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        &:hover {
          background-color: #1565c0;
        }
      }
    }
  }
  .aggiungi_btn {
    font-size: 16px;
    line-height: 19px;
    color: #160a2a;
    font-weight: 700;
    padding: 6px 16px;
    background-color: transparent;
    font-family: "Barlow", sans-serif;
    text-transform: capitalize;

    &:hover {
      color: #57c700;
    }
  }
}
