.documentileadDocumentiPage {
    .invoiceFilter  {
        .MuiStack-root {
            grid-template-columns:155px 155px 0.5fr  0.5fr 1fr !important;
            width: 100%;
            .MuiPaper-elevation {
                max-width: -webkit-fill-available;
            } 
        }
    }
}