.graphcard {
  margin-top: 30px;
  box-shadow: 0px 12px 24px rgba(145, 158, 171, 0.1215686275);
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(145, 158, 171, 0.1215686275);
  &__head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
    .MuiInputBase-root {
      fieldset {
        border: 1px solid #919eab3d;
        border-radius: 8px;
      }
      input {
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: #1c252e;
      }
    }
  }
  &__title {
    font-size: 18px;
    line-height: 28px;
    color: #100919;
    font-weight: 600;
    margin: 0;
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    font-weight: 400;
    margin: 4px 0 0;
  }
  &__info {
    & > div {
      display: flex;
      gap: 24px;
    }
    margin-bottom: 24px;
    h6 {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      color: #100919;
      margin: 8px 0 0;
    }
    p {
      font-size: 13px;
      line-height: 22px;
      font-weight: 500;
      color: #57c700;
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;
    }
  }
}
.MuiChartsAxis-tickLabel {
  color: red;
}

.graphcard_container_main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.graphcard_container_main_1 {
  grid-column: 1 / 8; /* Spans 7 columns */
}
.graphcard_container_main_full {
  grid-column: 1 / 11; /* Spans 7 columns */
}

.graphcard_container_sub {
  grid-column: 8 / 11; /* Spans 3 columns (8, 9, and 10) */
  margin-top: 30px;
  box-shadow: 0px 12px 24px rgba(145, 158, 171, 0.1215686275);
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(145, 158, 171, 0.1215686275);
}
