
.customAccordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .documenti-customAccordion {
        box-shadow: none;
        &::before {
            content: unset !important;
        }
       .MuiButtonBase-root  {
        background-color: #FAFAFA;
        flex-direction: row-reverse;
        padding: 0px;
        .MuiAccordionSummary-content {
            .MuiTypography-root {
                font-size: 14px;
                line-height: 16px;
                font-weight: 700;
                color: #999999;
                padding: 10px;
            }
        }
        .MuiAccordionSummary-expandIconWrapper {
    background-color: #F2F2F2;
    padding: 18px 10px;
    border-bottom: dashed 1px #CCCCCC;
        }
        .Mui-expanded {
            transform: rotate(0deg);
            svg {
                transform: rotate(180deg);  
            }
        }
       }
    }
    .pageTemplate {
        padding: 0px;
    }
    .MuiAccordionDetails-root {
        padding: 8px 0px 16px;
    }
}
.documentiSearchFilter {
    .invoiceFilter {
        display: flex;
        flex-direction: row;
        box-shadow: unset;
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
        .MuiStack-root {
            grid-template-columns: 155px 155px 1fr 1fr 2fr;
        }
    }
}