// Contatti.scss

.container {
    padding: 32px 0;
  
    .card {
      height: 100%;
  
      .MuiCardHeader-root {
        background-color: #f7f7f7;
        font-size: 1.25rem;
      }
  
      .MuiCardContent-root {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
  
      .MuiTextField-root {
        margin-bottom: 16px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    .grid {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  