.CustomInputBox {
  margin-bottom: 14px !important;
  &.CustomTextArea {
    fieldset {
      height: auto;
    }
  }
  input {
    padding: 18px;
    height: auto;
    line-height: normal;
    background-color: #fff;
  }
  .MuiFormLabel-root {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
  }
  fieldset {
    border: 2px solid #e5e5e5;
    height: 54px;
    border-radius: 5px;
  }
  .MuiFormLabel-root {
    &.Mui-focused {
      color: #e72276;
    }
  }
  .Mui-focused {
    fieldset {
      border-width: 2px !important;
      border-color: #e72276 !important;
    }
  }
}
.CustomSelectBox {
  .MuiSelect-select {
    padding: 14px;
    min-height: unset;
  }
  fieldset {
    border: 2px solid #e5e5e5;
    height: 54px;
    border-radius: 5px;
  }
  .MuiFormLabel-root {
    &.Mui-focused {
      color: #e72276;
    }
  }
  .Mui-focused {
    fieldset {
      border-width: 2px !important;
      border-color: #e72276 !important;
    }
  }
}
.checkboxItem {
  margin: 0 !important;
  .MuiCheckbox-root {
    padding: 0;
    &.Mui-checked {
      background-color: red;
    }
  }
}

.CustomSelectBox {
  .MuiInputBase-root > svg {
    display: none;
  }
}
