.MuiTableRow-head {
  background-color: #fdfdfd;
  border-top: 0;
  border-bottom: 0;
}

.MuiTableHead-root {
  border-top: 0;
  border-bottom: 0;
}

.MuiTableCell-head {
  color: #888888 !important;
}

.MuiTableCell-body,
.MuiOutlinedInput-root {
  color: #666666 !important;
  font-family: "Public Sans", sans-serif;

  input {
    font-family: "Public Sans", sans-serif;
  }
}

.add-row-button {
  &.MuiButtonBase-root {
    color: #160a2a;
    font-weight: 700;
    text-transform: unset;
    background-color: transparent !important;
  }
}

.risultatiConfigatorModal {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .MuiPaper-root {
    .modalTitle {
      font-size: 20px;
      line-height: 23px;
      font-weight: 700;
      color: #666666;
      margin-bottom: 26px;
    }

    .tabBox {
      margin-bottom: 20px;

      .MuiTabs-root {
        border: none;

        .MuiTabs-flexContainer {
          button.MuiButtonBase-root {
            color: #666666;
            opacity: 20%;

            svg {
              path {
                fill: #666666;
              }

              color: #666666;
            }
          }

          button.MuiButtonBase-root.Mui-selected,
          button.MuiButtonBase-root:hover {
            color: #160a2a;
            border-color: #225ca6;
            opacity: 100%;

            svg {
              color: #160a2a;
            }
          }
        }
      }

      .tabBoxFlex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .modalNotifationBlock {
      background-color: #57c7001a;
      border-radius: 16px;
      padding: 10px 26px;
      display: flex;
      align-items: center;
      gap: 12px;
      box-shadow: 0px 13px 24px -4px rgba(145, 158, 171, 12%);
      margin-bottom: 20px;

      .notifactionText {
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 500;
        color: #225ca6;
        font-family: "Barlow", sans-serif;
      }

      svg {
        color: #57c700;
      }
    }

    .customtable {
      table {
        thead {
          tr {
            background-color: #fafafa;
          }
        }
      }
    }
  }
}

.countList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 30px;
  gap: 20px;

  &__item {
    padding: 9px 18px 5px;
    background-color: #fff;
    box-shadow: 0 0 12px #919eab33;
    border-radius: 16px;

    h3 {
      font-size: 14px;
      line-height: 16px;
      color: #225ca6;
      font-weight: 700;
      margin: 0;
      margin-bottom: 4px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      color: #100919;
      font-weight: 400;
      margin: 0;
    }
  }
}
.hideSearchBg {
  .invoiceFilter {
    padding: 0px;
    box-shadow: none;
    background: transparent;
  }
}
.sensoriModalAccordion {
  .MuiPaper-root {
    border: none;
    box-shadow: none;
    margin: 4px 0 !important;
    &::before {
      content: unset;
    }
    .MuiAccordion-heading {
      .MuiButtonBase-root {
        flex-direction: row-reverse;
        padding: 0px;
        background: #fafafa;
        .MuiAccordionSummary-content {
          display: grid;
          padding: 10px;
          grid-template-columns: 137px 160px 1fr 215px;
          gap: 10px;
          margin: 0;
          p {
            font-size: 14px;
            line-height: normal;
            font-weight: bold;
            color: #999999;
          }
          > div {
           
            p {
              font-size: 12px;
              line-height: normal;
            font-weight: bold;
              color: #225CA6;
              background-color: #D9D9D9;
              padding: 4px 8px;
              border-radius: 7px;
            }
          }
        }
        .MuiAccordionSummary-expandIconWrapper {
          background-color: #f2f2f2;
          height: 60px;
          display: flex;
          align-items: center;
          width: 34px;
          transform: unset;
          svg {
            margin:0 auto;
          }
          &.Mui-expanded {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .MuiCollapse-root {
      .MuiAccordionDetails-root {
        padding-left: 30px;
        .AccordionDetailsRow {
          display: grid;
          grid-template-columns: 137px 160px 1fr 215px;
          gap: 10px;
         .td {
          padding: 8px;
          p {
            font-size: 14px;
            line-height: normal;
            font-weight: normal;
            color: #999999;
            width: 100%;
          }
         }
        }
        .graphChart {
          > div {
            width: 100%;
          }
        }
      }
    }
  }
}
