.category-form {
  background-color: #f8f9fa;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &.CatagoriaSub{
      background: #EBEAEA;
    padding: 6px 8px;
    }
    
    .top-row {
      display: flex;
      gap: 16px;
      align-items: center;

      .category-name-select,
      .category-select,
      .phase-select,
      .priority-select {
        // min-width: 140px;
        background-color: white;
        .MuiOutlinedInput-notchedOutline {
          border-color: #e2e8f0;
        }
      }
      .della-text {
        color: #6b7280;
        margin: 0 -8px;
        font-size: 14px;
      }
      .configure-button {
        background-color: #65a30d;
        text-transform: none;
        padding: 6px 16px;
        font-size: 14px;
        min-width: 100px;
        &:hover {
          background-color: #4d7c0f;
        }
      }
      .delete-button {
        color: #6b7280;
        padding: 8px;
        &:hover {
          background-color: rgba(107, 114, 128, 0.04);
          svg {
            path {
              fill: #e72276;
            }
          }
        }
      }
    }
    .description {
      background-color: white;
      .MuiOutlinedInput-notchedOutline {
        border-color: #e2e8f0;
      }
      textarea::placeholder {
        color: #9ca3af;
      }
    }
  }
}
.phase-name {
  label {
    top: -7px;
    &.Mui-focused {
      top: 0;
      transform: translate(14px, -9px) scale(0.75);
    }
  }
  input {
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 19px;
    background-color: #fff;
  }
  fieldset {
    border: 2px solid rgba(22, 10, 42, 0.1019607843);
  }
}
.category-form {
  .top-row.MuiBox-root {
    display: grid;
    grid-template-columns: 1fr 10px 0.5fr 25px 0.5fr 0.3fr auto 40px ;
    .MuiAutocomplete-root {
      .MuiFormControl-root {
        .MuiInputLabel-root {
          top: -7px;
        }
        .MuiInputLabel-root.Mui-focused {
          top: 0px;
        }
        .MuiInputBase-root {
          background-color: #fff;
          fieldset {
            border: 2px solid rgba(22, 10, 42, 0.1019607843);
          }
          .MuiInputBase-input {
            padding: 0px;
          }
        }
      }
    }
  }
}
.CatagoriaBlock {
  margin-bottom: 8px !important;
  border-bottom: dashed 1px #999999;
}
.CatagoriaSubBlock {
  margin-bottom: 8px !important;
  // border-bottom: dashed 1px #999999;
  .uloadandtextarea {
    display: grid;
    gap: 10px;
    grid-template-columns: 135px 1fr;
    .upload-box {
      width: 135px;
      height: 100%;
      background-color: #eaebec;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: dashed 1px #dfe1e4;

      .upload-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        gap: 5px;
      }
      .upload-icon {
        color: #919eab;
        font-size: 30px;
        margin-bottom: 8px;
      }

      .upload-text {
        color: #6b7280;
        font-size: 14px;
      }
    }
  }
}

.category-name-select,
.category-select,
.phase-select {
  .MuiSelect-select {
    padding: 8px;
    padding-right: 32px;
  }
}

.add-section-button {
 &:hover{
  background: none;
 }
  span{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
    text-transform: none;
  }
  color: #22c55e;
  border-color: #22c55e;
  padding: 6px 16px;
  transition: all 0.5s;


  &:hover {
    border-color: #16a34a;
   svg{
    background-color: #000;
   }
  }

  .MuiSvgIcon-root {
    font-size: 20px;
    background-color: #22c55e;
    fill: #fff;
    border-radius: 4px;
  }

  .MuiButton-icon {
    margin-left: 0 !important;
  }
}
