.phase-form {
  background-color: #f8f9fa;
  padding: 16px;
  margin-bottom: 6px;
  border-radius: 0px !important;
  border-bottom: dashed 1px #999999;
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
   

    .top-row {
      display: flex;
      gap: 16px;
      align-items: center;

      .phase-name {
        flex: 1;
        background-color: white;

        .MuiOutlinedInput-notchedOutline {
          border-color: #e2e8f0;
        }

        input::placeholder {
          color: #9ca3af;
        }
      }

      .priority-select {
        min-width: 140px;
        background-color: white;

        .MuiOutlinedInput-notchedOutline {
          border-color: #e2e8f0;
        }
      }

      .delete-button {
        color: #6b7280;
        padding: 8px;
        &:hover {
          background-color: rgba(107, 114, 128, 0.04);
          svg {
            path {
              fill: #e72276;
            }
          }
        }

        // &:hover {
        //   background-color: rgba(107, 114, 128, 0.04);
        // }
      }
    }

    .description {
      background-color: white;

      .MuiOutlinedInput-notchedOutline {
        border-color: #e2e8f0;
      }

      textarea::placeholder {
        color: #9ca3af;
      }
    }
  }
}

.phase-name {
  label {
    top: -7px;
    &.Mui-focused {
      top: 0;
      transform: translate(14px, -9px) scale(0.75);
    }
  }
  input {
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 9px;
    background-color: #fff;
  }
  fieldset {
    border: 2px solid rgba(22, 10, 42, 0.1019607843);
  }
}
.priority-select {
  .MuiSelect-select {
    padding: 8px;
  }
}
.phaseAutoCpmplete {
  .form-content {
    .top-row {
      .MuiAutocomplete-root {
        min-width: 160px;
        .MuiFormControl-root {
          .MuiInputLabel-root {
            top: -7px;
          }
          .MuiInputLabel-root.Mui-focused {
            top: 0px;
          }
          .MuiInputBase-root {
            background-color: #fff;
            fieldset {
              border: 2px solid #e2e8f0;
            }
            .MuiInputBase-input {
              padding: 0px;
            }
          }
        }
      }
    }
  }
}
