.ProductionsAccordionBlock {
  margin-top: 20px;
  .ProductionsAccordionRow {
    display: flex;
    align-items: flex-start;
    gap: 17px;
    .ProductionsAccordionCard {
      min-width: 535px;
      max-width: 535px;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 17px;

      &__inner {
        padding: 30px 24px;
        background-color: #fafafa;
        border-radius: 30px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;

        .cardHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: 20px;
            line-height: 23px;
            color: #666666;
            font-weight: 700;
          }

          &__buttons {
            display: flex;
            align-items: center;
            gap: 8px;

            .customChip {
              background-color: #57c700;
              color: #fff;
              font-size: 12px;
              font-weight: 700;
              line-height: 14px;
              border-radius: 6px;
              font-family: "Barlow", sans-serif;
              height: 24px;
            }
          }
        }

        .giorniDateBlock {
          display: flex;
          align-items: center;
          gap: 14px;
          margin-bottom: 17px;

          .MuiFormControl-root {
            max-width: 100%;
          }

          .giorni {
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            color: #57c700;
            text-align: center;
          }
        }

        .ProductionsAccordionList {
          margin-top: 22px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .ProductionsAccordionItem {
            border: none;
            box-shadow: none;
            background-color: transparent;
            margin-bottom: 5px;
            &:last-child {
              margin: 0;
            }

            &::before {
              content: unset;
            }

            .MuiAccordion-heading {
              .MuiAccordionSummary-root {
                flex-direction: row-reverse;
                background-color: #ffff;
                border-radius: 10px;
                min-height: 38px;
                padding: 0 1px 0 5px;

                &.Mui-expanded,
                &:hover {
                  background-color: #f2f2f2;
                }

                .MuiAccordionSummary-content {
                  margin: 0;

                  .contentBox {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;

                    .accordionTitle {
                      font-size: 16px;
                      line-height: 19px;
                      font-weight: 700;
                      color: #666666;
                    }

                    .customStatus {
                      background-color: #ffa90333;
                      color: #ffa903;
                      border-radius: 6px;
                      font-size: 12px;
                      line-height: 20px;
                      font-weight: 700;
                    }
                  }
                }
              }
            }

            .accordionDetailBox {
              padding: 0px;
              display: flex;
              flex-direction: column;
              gap: 6px;
              margin-top: 6px;

              &__dateListRow {
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 10px 15px;
                border-radius: 10px;
                gap: 15px;
                justify-content: space-between;

                .dateCols {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                }
              }

              &__dateListCol {
                display: flex;
                align-items: center;

                gap: 8px;

                .MuiFormControl-root {
                  max-width: 135px;
                }
              }

              &__countBox {
                height: 37px;
                width: 37px;
                background-color: #1009191a;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &__text {
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 700;
                  color: #160a2a80;
                }
              }

              &__textListRow {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                padding: 10px 15px;
                border-radius: 10px;
                gap: 15px;
              
                .title {
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 400;
                  color: #666666; // Default color
                }
              
                &:hover {
                  .title {
                   font-weight: 700;
                  }
                  .accordionDetailBox__countBox  {
                    background-color: #57c70033 !important;
                  }
                }
              }
              
            }
          }

          .footerButtons {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .button1 {
              background-color: #f2f2f2;
              padding: 10px;
              border-radius: 12px;
              height: 55px;
              transition: all 0.5s;

              .text {
                background-color: #57c70080;
                color: #3F37C9;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                color: #0f253a;
                display: block;
                width: 100%;
                border-radius: 12px;
                padding: 5px;
                border: dashed 1px #57c700;
                text-transform: capitalize;
                margin: 0;
                transition: all 0.5s;
              }

              &:hover {
                padding: 4px;
                .text {
                  background-color: #57c700;
                  padding: 10px;
                  color: #fff;
                  transition: all 0.5s;
                }
              }
            }

            .button2 {
              background-color: #f2f2f2;
              padding: 10px;
              border-radius: 12px;
              transition: all 0.5s;

              .text {
                background-color: #57c700;
                color: #4361ee;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #fff;
                display: block;
                width: 100%;
                border-radius: 12px;
                padding: 4px;
                border: dashed 1px #f2f2f2;
                text-transform: capitalize;
                margin: 0;
                transition: all 0.5s;
              }

              &:hover {
                transition: all 0.5s;

                .text {
                  .hoverHide {
                    display: none;
                    transition: all 0.5s;
                  }
                }
              }
            }
          }
        }
      }

      .slideArrowBtn {
        height: 34px;
        margin: 0 5px;
        width: 34px;
        border: solid 3px #999999;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.5s;
        .button {
          min-width: unset;
          border-radius: 50%;
          transition: all 0.5s;
          svg {
            color: #666666;
          }
        }
        &::after,
        &::before {
          position: absolute;
          content: "";
          background-color: #999999;
          height: 42px;
          width: 2px;
          top: 34px;
          bottom: 0;
          transition: all 0.5s;
        }
        &::before {
          bottom: 34px;
          top: auto;
        }
        &:hover {
          .button {
            svg {
              color: #57c700;
            }
          }
          border-color: #57c700;
          &::after,
          &::before {
            background-color: #57c700;
            height: 130px;
            transition: all 0.5s;
          }
        }
      }
      &:last-child {
        .slideArrowBtn {
          display: none;
        }
      }
    }
  }
  &.opacityBlock {
    .ProductionsAccordionRow {
      .ProductionsAccordionCard {
        &__inner {
          border: 3px solid #57c700;
          opacity: 0.5;
        }
        &:first-child {
          .ProductionsAccordionCard__inner {
            border-color: transparent;
            opacity: 1;
          }
        }
      }
    }
  }
}

.accordionSubtitle {
  color: #666666;
  text-align: center;
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
}

.blockchainBtn {
  &.MuiButtonBase-root {
    background-color: #f2f2f2;
    // position: absolute;
    // bottom: 0;
    // width: calc(100% - 30px);
    // left: 50%;
    // transform: translate(-50%, 0);
    border-radius: 12px;
    overflow: hidden;
    padding: 4px 6px;
    transition: 0.5s;
  }

  .text {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: center;
    background-color: #e5e5e5;
    border: 1px dashed #cccccc;
    border-radius: 9px;
    color: #225ca6;
    font-size: 15px;
    padding: 7px;
  }

  .hoverImg {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
  }

  &:hover {
    .text {
      background-color: #fff;
    }

    .hoverImg {
      top: 0;
    }
  }
}
.kkk123 {
  &.MuiButtonBase-root {
    background-color: #f2f2f2;
    // position: absolute;
    // bottom: 0;
    // width: calc(100% - 30px);
    // left: 50%;
    // transform: translate(-50%, 0);
    border-radius: 12px;
    overflow: hidden;
    padding: 4px 6px;
    transition: 0.5s;
     &:hover {
      .text {
      .hoverText {
        display: block;
      }
      .defaultText {
        display: none;
      }
     }
    }
  }

  .text {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: center;
    background-color: #57c700;
    border: 1px dashed #cccccc;
    border-radius: 9px;
    color: white;
    font-size: 15px;
    padding: 7px;
    text-transform: capitalize;
    .hoverText {
      display: none;
    }
  }

  .hoverImg {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
  }

  &:hover {
    .text {
      background-color: #57c700;
    }
    .hoverImg {
      top: 0;
    }
  }
}

.dataSection {
  background-color: #57c700;
  margin-bottom: 23px;
  padding: 15px 17px;
  border-radius: 16px;
  box-shadow: 0 0 2px #919eab33;
  .dataMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      word-break: break-all;
    }
  }
  p {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #ffffff;
  }
}
.resultDetails {
  padding: 0 15px 0 0;
  position: relative;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
    right: 0;
  }
  &:last-child {
    padding: 0;
    &::before {
      content: unset;
    }
  }
}

.resultItem {
  box-shadow: 0 12px 24px -4px #919eab1f;
  border-radius: 16px;
  padding: 9px 18px;
  background-color: #fff;
  margin-bottom: 20px;
  // display: flex;
  // align-items: center;
  // gap: 40px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  gap: 10px;

  .resultTitle {
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.45px;
    color: #e72276;
  }
  .resultValue {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .resultItem_valuesContainer {
    width: 90px;
  }

  &.threeResultsValues {
    align-items: flex-start;
  }
}
